useDynLib(TukeyRegion)
import(Rcpp)
import(rgl)
import(ddalpha)
import(MASS)
import(bfp)
import(Rglpk)
export(TukeyRegion,TukeyMedian,depth.wm)
S3method(plot,TukeyRegion)
S3method(summary,TukeyRegion)